@import "tailwindcss";


@custom-variant dark (&:is(.dark *));

@keyframes loading {
  0%, 100% { opacity: 0; }
  50% { opacity: 0.6; }
}

.animate-loading {
  animation: loading 0.8s infinite;
}

.prose h1 {
  @apply text-3xl font-bold;
}
.prose h2 {
  @apply text-2xl font-bold;
}
.prose h3 {
  @apply text-xl font-bold;
}
